<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="css">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Bank Account Kata Démo</title>
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark"
			role="navigation">
			<div class="container">
				<a th:href="@{/home}">Home</a> <span class="navbar-text">
					Bank Account Kata </span> <a th:href="@{/logout}">Logout</a>
			</div>
		</nav>
	</div>

	<div th:fragment="scripts">
		<script src="/jquery/jquery.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</div>

</body>
</html>