<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: css" />
<body data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container main">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Account History</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6 col-md-6"></div>
		<div class="col-lg-6 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="row">
						<div class="col-xs-6">
							<h2>Account Balance:</h2>
						</div>
						<div class="col-xs-6 text-right">
							<h1>
								<span th:text="${account.accountBalance}"></span>
							</h1>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="table-responsive">
		<table id="1" class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Post Date</th>
					<th>Description</th>
					<th>Type</th>
					<th>Amount</th>
					<th>Available Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="transaction : ${transactionList}">
					<td data-th-text="${transaction.date}">...</td>
					<td data-th-text="${transaction.description}">...</td>
					<td data-th-text="${transaction.type}">...</td>
					<td data-th-text="${transaction.amount}">...</td>
					<td data-th-text="${transaction.availableBalance}">...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div th:replace="common/header :: scripts" />
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</body>
</html>