<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: css" />
<body data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container main">
	<div class="row">
		<div class="card rounded-0">
			<div class="card-header">
				<h3 class="mb-0">
					Balance : <span th:text="${account.accountBalance}"></span>
				</h3>

			</div>

			<div class="form-group card-body">
				<a th:href="@{/account/account}"> <span>History</span>
				</a>
			</div>

			<div class="form-group card-body">
				<a th:href="@{/account/deposit}"> <span>Deposit</span>
				</a>
			</div>
			<div class="form-group card-body">
				<a th:href="@{/account/withdraw}"> <span>Withdrawal</span>
				</a>
			</div>
		</div>
	</div>
</div>



<div th:replace="common/header :: scripts" />

</body>
</html>