<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: css" />
<body>
	<div class="container py-5">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center text-white mb-4">Bootstrap 4 Login Form</h2>
				<div class="row">
					<div class="col-md-6 mx-auto">

						<!-- form card login -->
						<div class="card rounded-0">
							<div class="card-header">
								<h3 class="mb-0">Login</h3>
							</div>
							<div class="card-body">
								<div class="bg-danger" th:if="${param.error}">Invalid
									username and/or password.</div>
								<div class="bg-danger" th:if="${param.logout}">You have
									been logged out.</div>
								<form class="form" role="form" id="formLogin" method="POST">
									<div class="form-group">
										<label for="username" class="sr-only">Username</label> <input
											type="text" placeholder="Username" name="username"
											id="username" required="required"
											class="form-control form-control-lg rounded-0"
											autofocus="autofocus" />
										<div class="invalid-feedback">Oops, you missed this one.</div>
									</div>
									<div class="form-group">
										<label for="password" class="sr-only">Password</label> <input
											type="password" placeholder="Password" id="password"
											name="password"
											class="form-control form-control-lg rounded-0"
											required="required" />
										<div class="invalid-feedback">Enter your password too!</div>
									</div>
									<button type="submit"
										class="btn btn-success btn-lg float-right" id="btnLogin">Login</button>
								</form>

							</div>
							<!--/card-block-->
							<hr class="my-4">
							<div class="form-group card-body">
								<a type="submit" class="btn btn-lg btn-block btn-google"
									th:href="@{/signup}">Sign up</a>
							</div>
						</div>
						<!-- /form card login -->

					</div>


				</div>
				<!--/row-->

			</div>
			<!--/col-->
		</div>
		<!--/row-->
	</div>
	<!--/container-->



	<div th:replace="common/header :: scripts" />

</body>
</html>