<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: css" />
<body data-spy="scroll" data-target=".navbar-fixed-top">
	<div class="container">
		<h1 class="title">Sign Up</h1>

		<form method="post" th:action="@{/signup}">

			<label for="firstName">First Name</label> 
			<input type="text"
				th:value="${user.firstName}" id="firstName" name="firstName"
				roleId="firstname" placeholder="First name" required="required" />
				
			<label for="lastName">Last Name</label> 
			<input type="text"
				th:value="${user.lastName}" id="lastName" name="lastName"
				roleId="lastName" placeholder="Last name" required="required" /> 
				
			<label for="email">Your Email</label>
			<span class="bg-danger pull-right"
				th:if="${emailExists}">Email already exists</span> 
			<input
				type="text" th:value="${user.email}" id="email" name="email"
				roleId="email" placeholder="Enter your Email" required="required" />
			
			<label for="username">Username</label>
			<span
				class="bg-danger pull-right" th:if="${usernameExists}">Username
				already exists</span> 
			<input type="text" th:value="${user.username}"
				id="username" name="username" roleId="username"
				placeholder="Username" required="required" /> 
			
			<label for="password">Password</label>
			<input type="password" th:value="${user.password}" id="password"
				name="password" roleId="password" placeholder="Password"
				required="required" />

			<button type="submit" class="btn btn-primary">Sign up</button>


			<hr />

			<a class="btn btn-info" th:href="@{/}">Cancel</a>
		</form>
	</div>


	<div th:replace="common/header :: scripts" />

</body>
</html>